@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





.rotate-icon {
    transition: transform 0.7s ease;
  }
  
  .rotate-180 {
    transform: rotate(180deg);
  }
  

  .screennav{
    font-family: "Poppins", sans-serif;
  }

h1{
  font-family: "Poppins", sans-serif;
  /* color: aqua; */
}



  .dropdown {
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
  }
  
  .dropdown-show {
    max-height: 200px; /* Adjust this value as needed */
    opacity: 1;
  }
  
  .dropdown-content {
    background-color: #f0f0f058;
    width: 100%;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(100%);
    z-index:1000;
    /* box-shadow:10px 10px 2px  black; */
    /* position: absolute; */
  }

  .dropdown-content:hover{
    /* background-color: #f0f0f0; */
    /* cursor: pointer; */
    transition-duration: 200ms;
    transform-origin: center;
  }

  .bignavs:hover{
    
   
    /* border-bottom:1px solid rgb(255, 255, 255); */
    /* transition-duration: 500ms; */
    transition:all 200ms ease-out;
    color: blanchedalmond;
   
  }

  .bignavs{
    color: rgb(101, 94, 84);
  }